/* princingplans */
/* princingplans */
.pricing-plans {
    margin-top: 100px !important;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    /* background: rgba(0, 0, 0, 75%); */
    width: 900px;
    margin: 7% auto;
    margin-top: 160px;
    gap: 34px;
}

/* Rest of your CSS styles */
.single-price {
    width: 33.3%;
    height: 350px;
    background: #0b1d43;
    float: left;
    margin-top: 2%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.9s;
}

.price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #130c90;
    margin: 5% auto;
}

.services {
    margin-top: 10%;

}

.single-price h1 {
    font-size: 18px;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
    letter-spacing: 7px;

}

.price img {

    margin-top: 30%;

}

.services h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 19px;
    font-weight: 600;

}

.single-price:hover {
    background: #03598f;
    color: #fff;
    box-shadow: 0 0 15px rrgba(0, 0, 0, 1);
    transform: scale(1.1);
    z-index: 1;
    border-radius: 30px
}

.single-price:hover .price {
    border-color: #fff;
}

.single-price a {
    text-decoration: none;
    background: #130c90;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.single-price:hover a {
    background: black;
    border-radius: 20px;
    text-decoration: none;
}

@media only screen and (max-width:869px) {
    .single-price {
        width: 23.3%;
        gap: 10px
    }

    .pricing-plans {
        justify-content: center;
    }
}

@media only screen and (max-width:800px) {
    .single-price {
        width: 40%;
    }

    .pricing-plans {
        flex-direction: column;
        align-items: center;
        margin-left: -89px;
    }
}

@media only screen and (max-width:600px) {
    .pricing-plans {
        margin-left: -160px;
    }
}

@media only screen and (max-width:500px) {
    .pricing-plans {
        margin-left: -200px;
    }
}

@media only screen and (max-width:457px) {
    .pricing-plans {
        margin-left: -232px;
    }
}

@media only screen and (max-width:375px) {
    .pricing-plans {
        margin-left: -268px;
    }

    .single-price {
        width: 30%
    }
}